<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Language" content="pt-br">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Brainfuck interpreter</title>
        <style>
            div {
                margin-top: 10px;
            }
            container {
                margin-left: 10px;
            }
        </style>        
    </head>
    <body>
        <div class="container" style="margin-left: 10px;">
            <h1>Brainfuck interpreter</h1>
        </div>
        <div class="container" style="margin-left: 10px;">
            <h6>Interpretador de Brainfuck desenvolvido por Gustavo Kawamoto e Yago Rogatto.</h6>
        </div>
        <div class="container" style="margin-left: 10px;">
            <form action="/" method="POST">
                <div>
                    <label>Coloque aqui o código:</label>
                    <textarea name="codigo_input" class="form-control" id="codigo_input" style="width: 45%; min-height:200px; max-height: 200px"></textarea>
                </div>
                <div>
                    <input name="botao_enviar" type="submit" class="btn btn-info" style="background-color: darkgrey; border: darkgrey">
                </div>
                <div>
                    <label>Resultado:</label>
                    <textarea class="form-control" id="codigo_output" style="width: 45%; min-height:200px; max-height: 200px; background-color: white" disabled="disabled">{{a}}</textarea>
                </div>
            </form>
        </div>
        <div class="container" style="margin-left: 10px;"> 
            <dl>
                <dt>GitHub Gustavo:</dt>
                <dd><li><a href = "https://github.com/gkawamoto">Gkawamoto</a></li></dd>
                <dt>GitHub Yago:</dt>
                <dd><li><a href = "https://github.com/yaguetto">Yaguetto</a></li></d>
            </dl>
        </div>  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>